<h1>Mutaciones</h1>
<hr />
<div class="row">
  <div class="col-6">
    <input
      type="text"
      class="form-control mb-2"
      #inputEmail
      [value]="user().email"
      (input)="onFieldUpdated('email', inputEmail.value)"
    />
    <input
      type="text"
      class="form-control mb-2"
      #inputFirstName
      [value]="user().first_name"
      (input)="onFieldUpdated('first_name', inputFirstName.value)"
    />
    <input
      type="text"
      class="form-control mb-2"
      #inputLastName
      [value]="user().last_name"
      (input)="onFieldUpdated('last_name', inputLastName.value)"
    />
  </div>
  <div class="col-6">
    <code>
      <pre>
        {{ user() | json }}
      </pre>
    </code>
  </div>
</div>
